@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
}

.partners {
  animation: animate 5s linear infinite;
  /* animation-delay: -40s; */
}
.testimony {
  animation: animate 20s linear infinite;
  animation-delay: -40s;
}

.white {
  filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(195deg) brightness(106%) contrast(100%);
}

.nav-btn:hover {
  background-color: #fff;
}

.nav-btn:hover p {
  color: #180030;
}

.nav-btn:hover .nav-arrow {
  rotate: -40deg;
}

.about-btn:hover {
  background-color: white;
}

.about-btn:hover p {
  color: #180030;
}

.about-btn:hover div {
  color: #180030;
}

.service-btn:hover {
  background-color: #8000ff10;
}

.service-btn:hover p {
  color: #180030;
}

.service-btn:hover .service-arrow {
  rotate: -40deg;
  /* filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(327deg) brightness(96%) contrast(104%); */
}

.service-btn:hover .arrow-img{
  filter: invert(0%) sepia(97%) saturate(13%) hue-rotate(251deg) brightness(97%) contrast(103%);
}

.menu-text:active .menu-arrow {
  rotate: 180deg;
  /* filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(327deg) brightness(96%) contrast(104%); */
}

@keyframes animate {
  0% {
    transform: translateX(100);
  }

  100% {
    transform: translateX(-100%);
  }
}


